@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family:  "Roboto Mono", monospace;
}

.message {
  position: absolute;
  padding-left: 40px;
}

#top-container {
  top: 0;
  position: fixed;
  padding-top: 100px;
  width: 100%;
}

#bottom-container {
  position: absolute;
  top: 3000px;
  height: 100vh;
  width: 100%;
}
#bottom {
  padding-top: 100px;
}
