@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

.message {
  position: absolute;
  padding-left: 40px;
}

#top-container {
  top: 0;
  position: fixed;
  width: 100%;
}

#bottom-container {
  position: absolute;
  top: 3000px;
  height: 100vh;
  width: 100%;
}

/* alignement */
#top-container,
#bottom {
  padding-top: 250px;
}

p {
  font-size: 34px;
  margin-bottom: 25px;
}

#hint {
  /* position: relative; */
  margin-top: 200px;
  margin-left: 40px;
  color: darkgray;
  letter-spacing: 1.2px;
}

#footer {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  body, p {
    font-size: 12px;
  }
  p {
    margin-bottom: 10px;
  }
}